<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="d-flex align-items-center justify-content-center min-vh-100">
<div class="card p-2 shadow-sm" style="width: 300px;">
    <div class="card-body">
        <h2 class="text-center">Login</h2>
        <hr>
        <form action="/login/check" method="post" class="form">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" type="text" placeholder="Username" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <span th:text="${returnMessage}" class="form-text"></span>
            <br>
            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>