<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rectangle calculator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="d-flex align-items-center justify-content-center min-vh-100">
<div class="card p-2 shadow-sm" style="width: 350px;">
    <div class="card-body">
        <h2 class="text-center">Rectangle calculator</h2>
        <hr>
        <form action="/rectangle/calculate" method="post" class="form">
            <div class="mb-3">
                <label for="width" class="form-label">Width (Cm)</label>
                <input id="width" type="text" placeholder="Width" class="form-control" name="width" th:value="${width}">
                <span th:text="${widthError}" class="form-text"></span>
            </div>
            <div class="mb-3">
                <label for="height" class="form-label">Height (Cm)</label>
                <input id="height" type="text" placeholder="Height" class="form-control" name="height" th:value="${height}">
                <span th:text="${heightError}" class="form-text"></span>
            </div>
            <div class="mb-3">
                <label for="circumference" class="form-label">Circumference (Cm)</label>
                <input id="circumference" type="text" placeholder="Circumference" class="form-control" th:value="${circumference}" readonly>
            </div>
            <div class="mb-3">
                <label for="area" class="form-label">Area (Cm²)</label>
                <input id="area" type="text" placeholder="Area" class="form-control" th:value="${area}" readonly>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Calculate</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>